@import "tailwindcss";

@theme {
  --color-darkgreen: #023236;
  --color-electricgreen: #57eea1;

  --font-serif: var(--font-serif), ui-serif, Georgia, serif;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  background-color: var(--color-darkgreen);
  color: #ffffff;
}
